#navbar{
    display: none;
    flex-direction: row;
    justify-content:center;
    position:fixed ;
    gap: 20px;
    bottom: 10px;
    left: 450px;
    border: solid;
    border-radius: 30px;
    z-index: 1;
    background-color: white;
} /*3*/

#createnode{
    margin: 20px;
    padding: 3px;
    border:2px solid black;
    border-radius: 8px;
    width: 300px;
    height: 50px;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    z-index: 1;
}/*4*/

#canvas{
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}/*1*/

#opennav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    position:fixed ;
    gap: 20px;
    bottom: 10px;
    left: 700px;
    width:30px;
    height: 30px;
    z-index: 1;
}/*2*/

#save, #find, #assets, #connect, #delete, #clear{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:52x;
    margin: 10px;
    height: 10px;
}/*3*/

#save p{
    margin: 0px;
    padding: 0px;

}

#save img{
    margin: 0px;
    padding: 0px;
}